.header {
  position: sticky;
  top: 20px;

  height: 64px;
  background: #ffffff;

  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  margin: 0 24px;

  z-index: 50;
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-left h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

/* MENU BUTTON */
.menu-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;

  border: none;
  background: #f3f4f6;
  cursor: pointer;
  font-size: 18px;
}

.menu-btn:hover {
  background: #e5e7eb;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.logout-btn:hover {
  color: #ef4444;
}
