* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0f4c81, #1e90ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 800px;
  height: 420px;
  background: #ffffff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LEFT PANEL */
.login-left {
  width: 50%;
  background: linear-gradient(to bottom, #1e90ff, #0f4c81);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 16px;
}

/* RIGHT PANEL */
.login-right {
  width: 50%;
  padding: 40px;
}

.login-right h2 {
  margin-bottom: 20px;
}

.login-right input,
.login-right select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0f4c81;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.signup-text span {
  color: #1e90ff;
  cursor: pointer;
  font-weight: 600;
}

.signup-text span:hover {
  text-decoration: underline;
}