.teachers-page {
  margin-top: 20px;
}

/* HEADER */
.teachers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.teachers-header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

/* ADD BUTTON */
.add-btn {
  background: #2e2a62;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.add-btn:hover {
  opacity: 0.9;
}

/* TABLE */
.table-wrapper {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-height: 475px;  
  overflow-y: auto;
  border: 1px solid #ddd;
}

.teachers-table {
  width: 100%;
  border-collapse: collapse;
}
.teachers-table thead th {
  position: sticky;
  top: 0;
  background:#2e2b5f;;  
  z-index: 10;
}

.teachers-table th,
.teachers-table td {
  padding: 14px 16px;
  text-align: left;
}

.teachers-table th {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.teachers-table tbody tr {
  border-top: 1px solid #f1f5f9;
}

.teachers-table tbody tr:hover {
  background: #f9fafb;
}

/* STATUS */
.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.status.active {
  background: #dcfce7;
  color: #166534;
}

.status.inactive {
  background: #fee2e2;
  color: #991b1b;
}

/* ACTION */
.action-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.action-btn:hover {
  text-decoration: underline;
}
