@import "./styles/variables.css";
body {
  margin: 0;
  background: #eef1f7;
  font-family: "Segoe UI", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
